body {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
}

footer {
    margin-top: 5px;
    background-color: #dbdbdb;
}

.center-image {
    margin: 0 auto;
}

.text-muted {
    color: #bcbbbb;
}

.test-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin: 20px 0 0 0;
}

#footer-creator {
    margin: 5px;
}

@media screen and (max-width: 1090px) {
    .center-image {
        margin: 0 auto;
        width: 100%;
    }
}

@media screen and (max-width: 990px) {
    /*Make the logo image center in smaller screen*/
    .title-logo {
        display: block;
        margin: 0 auto 0 auto;
    }
}